<mat-card>
  <mat-card-header>
    <mat-card-title
      >Categoria: {{ $any(questao?.categoria)?.categoria }}</mat-card-title
    >
    <mat-card-subtitle>{{ questao?.enunciado }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="mt-2">
    <mat-radio-group [(ngModel)]="resposta">
      <mat-radio-button
        class="d-block"
        *ngFor="let alt of alternativas"
        [value]="alt.id"
      >
        {{ alt.alternativa }}
      </mat-radio-button>
    </mat-radio-group>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="responder()">RESPONDER</button>
  </mat-card-actions>
</mat-card>
