<mat-card>
  <mat-card-content>
    <form #loginForm="ngForm" (ngSubmit)="login()">
      <h2>Entrar</h2>

      <mat-error *ngIf="!loginValido">
        O email e a senha não foram reconhecidos.
      </mat-error>

      <mat-form-field>
        <input
          matInput
          placeholder="Email"
          [(ngModel)]="email"
          name="email"
          required
        />
        <mat-error>Email inválido.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="password"
          placeholder="Senha"
          [(ngModel)]="senha"
          name="senha"
          required
        />
        <mat-error>Senha inválida.</mat-error>
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        [disabled]="!loginForm.form.valid"
      >
        Entrar
      </button>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <p>
      Não possui uma conta?
      <button mat-button [routerLink]="['/autenticacao/cadastro']">Cadastre-se</button>
    </p>
  </mat-card-actions>
</mat-card>
