<mat-card>
  <mat-card-content>
    <form [formGroup]="cadastroForm" (submit)="cadastrar()">
      <h2>Cadastre-se</h2>

      <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Nome" formControlName="nome" required />
        <mat-error
          *ngIf="
            cadastroForm.get('nome')?.errors?.['required'] &&
            cadastroForm.get('nome')?.touched
          "
          >Nome obrigatório.</mat-error
        >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="Ex. email@example.com"
          formControlName="email"
        />
        <mat-error
          *ngIf="
            cadastroForm.get('email')?.errors?.['required'] &&
            cadastroForm.get('email')?.touched
          "
          >Email obrigatório.</mat-error
        >
        <mat-error
          *ngIf="
            cadastroForm.get('email')?.errors?.['email'] &&
            cadastroForm.get('email')?.touched
          "
          >Email inválido.</mat-error
        >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Senha</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          placeholder="Senha"
          formControlName="senha"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Mostrar senha'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error
          *ngIf="
            cadastroForm.get('senha')?.errors?.['required'] &&
            cadastroForm.get('senha')?.touched
          "
          >Senha obrigatória.</mat-error
        >
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        [disabled]="!cadastroForm.valid"
      >
        Cadastrar
      </button>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <p>
      Já possui uma conta?
      <button mat-button [routerLink]="['/autenticacao/entrar']">Entre aqui</button>
    </p>
  </mat-card-actions>
</mat-card>
