<div class="row mat-typography">
  <div class="col">
    <h1>Gerenciar</h1>
  </div>
</div>

<div class="row">
  <div class="col-3">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Provas</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Gerenciar (cadastrar, editar, excluir) provas de concursos e suas
          respectivas questões e alternativas
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button [routerLink]="['/admin/prova']">GERENCIAR</a>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="col-3">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Listas de Estudo</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Gerenciar (cadastrar, editar, excluir) listas de estudos e suas
          respectivas questões.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button [routerLink]="['/admin/lista-de-estudo']">GERENCIAR</a>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="col-3">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Categorias</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Gerenciar (cadastrar, editar, excluir) categorias de questões de
          concursos
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button [routerLink]="['/admin/categoria']">GERENCIAR</a>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="col-3">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Usuários</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Gerenciar (promover, excluir) usuários</p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button [routerLink]="['/admin/usuario']">GERENCIAR</a>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="col-3">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Permissões</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Gerenciar (criar, editar, excluir) permissões</p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button [routerLink]="['/admin/permissao']">GERENCIAR</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
