<div class="row mat-typography">
  <div class="col">
    <h1>Gerenciar</h1>
  </div>
</div>

<div class="row">
  <!-- <div class="col-3">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Listas de Estudo</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Gerenciar (cadastrar, editar, excluir) listas de estudos e suas
          respectivas questões.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button [routerLink]="['/user/lista-de-estudo']">GERENCIAR</a>
      </mat-card-actions>
    </mat-card>
  </div> -->

  <div class="col-3">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Questões</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Gerenciar (cadastrar, editar, excluir) questões de concursos</p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button [routerLink]="['/user/questao']">GERENCIAR</a>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="col-3">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Categorias</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Gerenciar (cadastrar, editar, excluir) categorias</p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button [routerLink]="['/user/categoria']">GERENCIAR</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
