<div class="row mat-typography">
  <div class="col">
    <h1>Editar Categoria</h1>
  </div>
</div>

<div class="row mb-4">
  <div class="col">
    <a mat-button color="primary" class="me-2" routerLink="/user/categoria/"
      >VOLTAR</a
    >
  </div>
</div>

<form [formGroup]="form" (ngSubmit)="atualizar()">
  <div class="row">
    <div class="col">
      <mat-form-field style="width: 400px">
        <mat-label>Categoria</mat-label>
        <input matInput type="text" formControlName="categoria" />
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="!form.valid"
      >
        ATUALIZAR
      </button>
    </div>
  </div>
</form>
