<div class="row mat-typography">
  <div class="col">
    <h1>Editar Questão</h1>
    <h2>Prova: {{ prova?.nome }}</h2>
  </div>
</div>

<div class="row mb-4">
  <div class="col">
    <a mat-button color="primary" class="me-2" routerLink="../..">VOLTAR</a>
  </div>
</div>

<div class="row">
  <div class="col">
    <form [formGroup]="form" (ngSubmit)="atualizar()">
      <div class="row">
        <div class="col">
          <h2>Informações Gerais</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <mat-form-field style="width: 100%">
            <mat-label>Enunciado da Questão</mat-label>
            <textarea
              matInput
              cdkTextareaAutosize
              formControlName="enunciado"
              placeholder="Enunciado completo da questão..."
            ></textarea>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field style="width: 100%">
            <mat-label>Categoria</mat-label>
            <mat-select formControlName="categoria">
              <mat-option
                *ngFor="let categoria of categorias"
                [value]="categoria?.id"
                >{{ categoria?.categoria }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h2>Gerenciar alternativas</h2>
        </div>
      </div>

      <mat-radio-group formControlName="resposta">
        <div
          class="row"
          *ngFor="let control of alternativasFormArray.controls; index as i"
        >
          <div class="col-4">
            <div class="d-flex">
              <mat-radio-button
                class="mt-2"
                [value]="i"
                matTooltip="O radio button selecionado é a resposta para a questão"
              ></mat-radio-button>
              <mat-form-field style="width: 100%">
                <mat-label>Alternativa</mat-label>
                <input matInput type="text" [formControl]="$any(control.get('alternativa'))" />
              </mat-form-field>
            </div>
          </div>
          <div class="col-3">
            <button
              *ngIf="i + 1 === alternativasFormArray.controls?.length && i !== 0"
              mat-icon-button
              (click)="removerAlternativa()"
              matTooltip="Remover alternativa"
            >
              <mat-icon>delete</mat-icon>
            </button>
            <button
              *ngIf="i + 1 === alternativasFormArray.controls?.length"
              mat-icon-button
              (click)="adicionarAlternativa()"
              matTooltip="Adionar alternativa"
            >
              <mat-icon>add_circle</mat-icon>
            </button>
          </div>
        </div>
      </mat-radio-group>

      <div class="row">
        <div class="col">
          <button
            type="submit"
            mat-raised-button
            color="primary"
            [disabled]="!form.valid"
          >
            ATUALIZAR
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
