<div class="row mat-typography">
  <div class="col">
    <h1>Gerenciar Questões</h1>
    <h2>Prova: {{ prova?.nome }}</h2>
  </div>
</div>

<div class="row">
  <div class="col">
    <a mat-button color="primary" class="me-2" routerLink="/admin/prova"
      >VOLTAR</a
    >
    <a mat-raised-button color="primary" routerLink="cadastrar">NOVA</a>
  </div>
</div>

<table mat-table [dataSource]="questoes" class="mat-elevation-z1 mt-4">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef>Enunciado</th>
    <td mat-cell *matCellDef="let element">{{ element.enunciado }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="acoes">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <div class="d-flex flex-row-reverse">
        <button mat-button (click)="excluir(element.id)">Excluir</button>
        <a mat-button class="me-2" [routerLink]="['editar', element.id]"
          >Editar</a
        >
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
