<mat-toolbar>
  <a routerLink="/">Repeti</a>
  <span class="filler"></span>

  <a *ngIf="isLogged(); then thenBlock; else elseBlock"></a>
  <ng-template #thenBlock>
    <button mat-icon-button color="primary" aria-label="Lista de Estudo">
      <mat-icon>list</mat-icon>
    </button>
    <button
      *ngIf="temPapel(UsuarioPapel.Administrador)"
      [routerLink]="['/admin/']"
      mat-icon-button
      color="primary"
      aria-label="admin_panel_settings"
    >
      <mat-icon>admin_panel_settings</mat-icon>
    </button>

    <button
      [matMenuTriggerFor]="menu_perfil"
      [routerLink]="['/autenticacao/entrar']"
      mat-icon-button
      color="primary"
      aria-label="Perfil"
    >
      <mat-icon>person</mat-icon>
    </button>

    <mat-menu #menu_perfil="matMenu">
      <button mat-menu-item>Perfil</button>
      <button (click)="logout()" mat-menu-item>Sair</button>
    </mat-menu>
  </ng-template>
  <ng-template #elseBlock>
    <button
      mat-stroked-button
      class="gap"
      [routerLink]="['/autenticacao/entrar']"
    >
      Entre
    </button>
    <button
      mat-stroked-button
      class="gap"
      [routerLink]="['/autenticacao/cadastro']"
    >
      Cadastre-se
    </button>
  </ng-template>
</mat-toolbar>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>
